:root {
  --xl-blue: #5568d7;
  --xl-green: #083518;
  --xl-white: #e9f0f0;
  --xl-grey: #cdcedf;
  --indigo-bunting: #3266b3; // 靛蓝彩雀
  --blue-atoll: #4abcd2; // 蓝色环焦
  --beach-glass: #9de1c6; // 海岸玻璃蓝
  --puprle-rose: #c9a8d4; // 紫玫瑰
  --pirouette: #f5bde3; // 巴黎舞步粉
  --lava-falls: #941611; // 熔岩流红
  --orange-ochre: #ea601c; // 橘褐色
  --marigold: #f09839; // 金盏花橘
  --illuminating: #f5dc43; // 明亮黄
  --pickled-pepper: #a8a438; // 泡菜辣椒绿
}

:root[data-theme-green] {
  --bg-color: #aad099;
  --font-color: #047530;
  --logo-hue: 310deg;
  ---btn-color: var(--xl-green);
}

:root[data-theme-blue] {
  --logo-hue: 70deg;
  --bg-color: var(--indigo-bunting);
  --font-color: var(--xl-green);
  --border-color: var(--beach-glass);
  ---btn-color: var(--blue-atoll);
}

:root[data-theme-white] {
  --bg-color: #e6e0da;
  --font-color: #de814c;
  --logo-hue: 210deg;
  ---btn-color: var(--font-color);
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  color: var(--font-color);
  display: flex;
}

body {
  flex: 1;
  margin: 0;
}

p {
  font-size: 20px;
}

a {
  display: inline-block;
  margin: 5px;
  color: var(--font-color);
}

a:hover {
  color: cyan;
}

img {
  width: 100%;
}

code {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  border: 4px solid var(--font-color);
}

.not-selectable {
  user-select: none;
}

// 公共样式类

.spot {
  &::before {
    content: "●";
    display: inline-block;
    font-size: 18px;
    margin-right: 5px;
    animation: myBreath 1s ease-in-out infinite;
  }
}

.status-spot {
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 50%;
  position: relative;
  &::after{
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    // -webkit-animation: myBreath 1.2s infinite ease-in-out;
    animation: statusProcessing 1.2s infinite ease-in-out;
    content: "";
  }
}

//运行中状态
.green{
  &::after{
    border: 1px solid #0bb060;
  }
  background-color:#0bb060;
}

//所有失败状态
.red {
  &::after {
   border: 1px solid #dc3545;
  }
  background-color:#dc3545;
}
//所有进行中状态
.blue {
  &::after {
    border: 1px solid #4777ff;
   }
   background-color:#4777ff;
}

//所有异常状态
.orange {
  &::after{
    border: 1px solid #f29200;
  }
  background-color: #f29200;
}

// 为未进行状态
.grey {
  &::after{
    border: 1px solid  #BCC0CD;
  }
  background-color: #BCC0CD;
}

// 主机在线状态
.online {
  &::after{
    border:1px solid  #63c9a6;
  }
  background-color: #63c9a6 ;
}

//离线状态
.offline {
  &::after{
    border:1px solid  #f27272;
  }
  background-color: #f27272 ;
}



// 状态圆点动态动画
@keyframes statusProcessing {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  to {
    transform: scale(2.0);
    opacity: 0;
  }
}